.dark-btn {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

html.dark {
    background-color: #15202b;
    color: white;
    body {
        background-color: #15202b;
        color: white;

        a {
            color: white;
            &:visited {
                color: white;
            }
        }

        .post {
            .post-tags {
                a {
                    color: black;
                    &:hover {
                        color: white;
                    }
                }
            }
        }


        .article-row {
            .article-title-link {
                color: white;
            }
            .article-read-more {
                color: white;
            }
        }
    }
}